html, body {
  height: 100%; /* Ensures that the html and body tags take up at least the full height of the viewport */
  margin: 0;
  padding: 0;
}

/*Nav Bar CSS*/
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  color: white;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #495057;
}

/*Footer Section*/
.footer {
  background-color: black;
  color: white;
  padding: 40px 0; /* Default large padding */
  font-size: x-small;
}

.footer a {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer a:hover {
  color: #bbbbbb;
  text-decoration: none;
}

.footer-column {
  margin-bottom: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container is at least the height of the viewport */
}

.content-wrap {
  flex: 1; /* Takes up all available space pushing the footer down */
  display: flex;
  flex-direction: column;
}

/* Responsive background image */
.form_and_widgets {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/static/web_background.png');
  flex-grow: 1;  /* Ensures it takes up any available space */
}

@media (max-width: 768px) {
  .form_and_widgets {
    background-image: url('/static/web_background_mobile.png'); /* Different image for mobile */
  }

  /* Smaller footer on small devices */
  .footer {
    padding: 20px 0; /* Reduce padding */
    font-size: smaller; /* Optional: Smaller font size */
  }
}

/* Widgets */
.img-circle {
  width: 100px; /* Default size for xs screens */
  height: 100px; /* Maintain aspect ratio */
  border-radius: 50%; /* Circular images */
}

@media (min-width: 576px) { /* Small devices */
  .img-circle {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 768px) { /* Medium devices */
  .img-circle {
    width: 140px;
    height: 140px;
  }
}

@media (min-width: 992px) { /* Large devices */
  .img-circle {
    width: 160px;
    height: 160px;
  }
}

@media (min-width: 1200px) { /* Extra large devices */
  .img-circle {
    width: 180px;
    height: 180px;
  }
  /* Larger footer on larger screens */
  .footer {
    padding: 10px 0; /* Increase padding */
    font-size: small; /* Optionally larger font size */
  }
  .form_and_widgets {
    min-height: 300px;  /* Adjust based on your specific needs */
    padding-top: 80px;
  }
}
