.prediction-result {
  font-size: medium;
  /* Larger font size for better readability */
  background-color: white;
  /* White background for the text */
  padding: 10px 20px;
  /* Padding around the text */
  border: 1px solid #ccc;
  /* Light grey border */
  border-radius: 15px;
  /* Rounded corners for aesthetics */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Subtle shadow to make the box pop out */
  display: inline-block;
  /* Makes the span display as a block element */
  margin-top: 5px;
  /* Space above the span */
  text-align: center;
  /* Center align text */
}

body {
  background-image: url("/static/prediction_background.png");
  background-repeat: no-repeat;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  /* White background with opacity */
  border: 1px solid #ccc;
  /* Light grey border */
  padding: 20px;
  border-radius: 10px;
  /* Rounded corners */
  margin-bottom: 20px;
  /* Space between forms */
}

.form-label,
.form-range {
  font-size: larger;
  /* Larger font for better readability */
}

#map {
  height: 450px;
  /* Adjust size as needed */
  width: 450px;
}
